body{
    display: flex;
    justify-content: center;
}
#structure{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 605px;
    background-color: darkgray;
    border: 3px solid rgb(75, 73, 73);
    border-radius: 30px;
    flex-shrink: 0;
    box-shadow: 6px 6px 0px rgb(75, 73, 73);
    align-items: center;
    padding-top: 10px;
}
#display{
    width: 85%;
    height: 67px;
    background-color: black;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 5px;
    margin: 25px;
    color: rgb(166, 0, 0);
    font-family: monospace;
    font-size: 60px;
    display: flex;
    flex-shrink: 0;
    justify-content: right;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 86%;
    padding: 10px; 
    gap: 10px; 
    
}

.btn {
    width: 100px;
    height: 80px; 
    font-size: 2rem;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgba(1, 1, 1, 1);
    cursor: pointer;
}

.operator {
    background-color: rgb(227, 167, 54);
    color: white;
}

.equal {
    background-color: rgb(69, 143, 69);
    color: white;
}

.clear {
    background-color: rgb(164, 40, 40);
    color: white;
}
.backspace {
    background-color: rgb(233, 101, 127);
    color: white;
}

.btn.active {
    background-color: rgb(100, 100, 100); 
    box-shadow: none; /* Remove shadow for a pressed effect */
}

.operator.active {
    background-color: rgb(175, 124, 36); 
}

.equal.active {
    background-color: rgb(45, 99, 45); 
}

.clear.active {
    background-color: rgb(116, 26, 26); 
}

.backspace.active {
    background-color: rgb(165, 75, 93); 
}